.cursor-pointer {
  cursor: pointer;
}

.username-text {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #8b929a;
  border-radius: 1.5rem;
}

.username-text:hover {
  background-color: #343a40;
}

.logout-text:hover {
  text-decoration: underline;
}
